.dashboard-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0px;
}

h1.app-name {
    margin-left: 4px;
}

ul li {
    list-style: none;
}

p.profile-card {
    padding-left: 10px;
    padding-right: 10px;
}