<h1 mat-dialog-title>Añadir ingrediente</h1>
<mat-dialog-content>
    <form>
        <div class="container">
            <mat-form-field>
                <input matInput placeholder="Nombre" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Hidratos de carbono" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Proteinas" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Grasas" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Fibra" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Sal" required/>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary">
        <mat-icon>save</mat-icon> Guardar
    </button>

    <button mat-button color="primary">
        <mat-icon>cancel</mat-icon> Cancel
    </button>
</mat-dialog-actions>