<h1 mat-dialog-title class="alinear">Cambiar datos de usuario</h1>
<mat-dialog-content>
    <form [formGroup]="changeDataForm">
        <div class="container">
            <input matInput formControlName="id" hidden>

            <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="nombre" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Apellidos" formControlName="apellidos" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Teléfono" formControlName="telefono" required/>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-label>Dejar en blanco para mantener la contraseña actual</mat-label>
            <br>
            <mat-form-field >
                <input matInput placeholder="Contraseña" formControlName="password" type="password"/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Repite la Contraseña" formControlName="password2" type="password"/>
            </mat-form-field>
        </div>
        
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" (click)="onSave()" [disabled]="isButtonDisabled || changeDataForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancel
    </button>
</mat-dialog-actions>